html,
body {
  height: 100%;
  font-family: "Fira Sans", sans-serif;
  max-width: 1175px;
  margin: 0 auto;
  padding: 0 15px;
}
.menu-1-main {
  font-size: 11px;
  line-height: 1.4em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 8px;
  overflow: hidden;
  text-align: center;
  font-weight: 800;
  list-style: none;
  box-sizing: border-box;
  outline: none;
}
.menu-1 {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.menu-1-list {
  display: inline-block;
  position: relative;
  padding: 0 8px;
}
.menu-1-list-active {
  display: inline-block;
  position: relative;
  padding: 0 8px;
  color: #7e0019;
}
.baner {
  display: flex;
  height: 87px;
  box-sizing: border-box;
  display: block;
  transition: all 0.2s;
  background: #7e0019;
  padding: 12px 0;
  border-bottom: #7e0019 1px solid;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.burger-menu {
  margin: -6px 10px 50px 10px;
  padding: 15px 0 0 12px;
  float: left;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  font-size: 0;
}
.burger-menu::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #fff;
  left: 0;
  box-sizing: border-box;
  outline: none;
}
.burger-menu::after {
  transform: translateY(6px);
  position: absolute;
  content: "";
  width: 24px;
  height: 3px;
  background-color: #fff;
  left: 0;
  box-sizing: border-box;
  outline: none;
}
.burger-text {
  margin-left: -241px;
  margin-bottom: 30px;
  
}
.baner-title {
  margin-top: -29px;
  margin-right: -197px;
  text-align: center;
}
.baner-title::after {
  margin-top: 1px;
}
.baner-lang {
  margin-top: 0;
  padding-top: 3px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 7px;
  padding: 0 12px;
  vertical-align: top;
  color: #fff;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  
  margin: 15px 12px 0 0;
}
.baner-lang1 {
  opacity: 0.5;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 15px 0 0 0;
  padding: 15px 0 0 0;
  
}
.baner-btn-main {
  display: inline-block;
  height: 30px;
  border: #fff 3px solid;
  background: #b30c1d;
  border-radius: 20px;
  position: relative;
  top: -15px;
  right: 10px;
  margin-left: 10px;
  text-decoration: none;
  color: #1a1a1a;
  margin: 0;
  padding: 0;

  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}
.baner-btn {
  line-height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 30px;
  padding: 0 15px;
  vertical-align: top;
  color: #fff;
  margin-top: 0%;
}
.menu-2-list {
  display: inline-block;
  position: relative;
  padding: 0 8px;
}
.menu-2-list-active {
  display: inline-block;
  position: relative;
  padding: 0 8px;
  color: #7e0019;
}
.menu-2-main {
  font-size: 14px;
  line-height: 1.4em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 8px;
  overflow: hidden;
  text-align: center;
  font-weight: 800;
  list-style: none;
}
