* {
    width: 800px;
    background-color: darkgray;
display: border-box;
}
body {
    margin: 200px;
    justify-content: center;
}
.img_first {
    margin-top: 30px;
    width: 600px;
}
.img_second {
    width: 600px;
    margin-top: 30px;
}
h2 {
    color: darkslateblue;
}
ol {
    color: darkslategray;
}
li {
    color: floralwhite;
}
p {
    color: dimgray;
}